:root {
    font-family: Source Sans Pro,sans-serif;
    font-size: 25px;
}

html {
    box-sizing: border-box;
}

.heading {
    text-align: center;
}

.hidden {
    display: none;
}

.topBorder {
    border-top: 2px solid #344861 !important;
}

.bottomBorder {
    border-bottom: 2px solid #344861 !important;
}

.rightBorder {
    border-right: 2px solid #344861 !important;
}

.leftBorder {
    border-left: 2px solid  #344861 !important;
}

.s1{
    padding-left: 25%;
    padding-right: 25%;
}

.d1 {
    display: flex;
    align-items: center;
    padding: 10px 50px;
    justify-content: space-between;
}

.d2, .dd {
    text-align: center;
    justify-self: center;
    width: auto;
    width: 100px;
    height: 33px;
    border-radius: 5px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#easyd1 {
    background-color: rgb(236, 234, 234);

}

#mediumd1 {
    background-color:  rgb(236, 234, 234);
}

#hardd1 {
    background-color:  rgb(236, 234, 234);
}

.dd {
    background-color: rgb(236, 234, 234);;
}

.cell {
    border: 1px #bec6d4 solid;
    display: flex;
    align-items : center;
    justify-content: center;
    margin: 0px;
    width: 60px;
    height: 60px;
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    user-select: none;

}

.cell:hover {
    background-color: #bbdefb;
    border-color: #93bdf7;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
}

#boardd {
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 600px;
    height: 600px;
    min-width: 600px;
    min-height: 600px;
    padding-bottom: 0;
}

.dd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.revsal {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.prefilled {
    background-color: #ebebe4 !important;
    user-select: none;
    color: #6d7175;
}

p.highlighted {
    background-color: rgb(226, 244, 250);
}
p.selected {
    background-color: lightblue;
}
p.incorrect {
    color: red !important;
}
p.modified {
    background-color: rgb(129, 194, 224);
}
p.dup {
    background-color: #99badd !important;
}
